$fs_normal: 15px;
$fs_little: 14px;
$fs_large: 18px;
$fs_x-large: 20px;
$fs_small: 13px;
$fs_x-small: 12px;
$fs_xx-small: 11px;

$lh_normal: 20px;
$lh_little: 18px;
$lh_large: 22px;
$lh_x-large: 24px;
$lh_small: 17px;
$lh_x-small: 17px;
$lh_xx-small: 15px;
