$offset: 4px;
$offset_half: $offset / 2;
$offset_2x: $offset * 2;
$offset_3x: $offset * 3;
$offset_4x: $offset * 4;
$offset_5x: $offset * 5;
$offset_6x: $offset * 6;
$offset_7x: $offset * 7;
$offset_8x: $offset * 8;
$offset_9x: $offset * 9;
$offset_10x: $offset * 10;
